# Python caches
__pycache__/
*.py[cod]

# Virtual envs
.venv/
venv/
env/

# Backend stuff
backend/media/user_details_files/*
backend/media/user_details_photos/*

# Node modules
node_modules/

# Build / OS / editor junk
dist/
build/
.DS_Store
*.log
.vscode/
.idea/